/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
/* 
     Bento Box BootStrap Code Below
*/
.container-fluid {
    border-radius: 25px;
    background-color: white;
    border-color: black;
}

.container-bento {
    height: 100%;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 8px;
}

.card {
    background-color: white;
    border-color: transparent;
}

.card-head {
    ;
    border-radius: 15px;
    border-color: black;
    height: 5px;
    padding-bottom: 10px;
}

.card-isp {
    margin-right: 3px;
    background-color: #006ba6;
    text-align: begin;
    border-radius: 10px;
}

.card-isp-2 {
    margin-right: 3px;
    background-color: #7C2529;
    text-align: center;
    border-radius: 10px;
}

.card-isp-3 {
    margin-right: 3px;
    background-color: #B9975B;
    text-align: end;
    border-radius: 10px;
}

.card-isp-history {
    margin-right: 3px;
    border-radius: 10px;
    height: 400px;
    background-color: #7A99AC;
}

.card-isp-ccc {
    margin-right: 3px;
    border-radius: 10px;
    height: 200px;
    background-color: #BE531C;
}

.card-isp-acres {
    margin-right: 3px;
    border-radius: 10px;
    height: 700px;
    background-color: #EED484;
}

.col-md-3 {
    margin-top: 5px;
    height: 200%;
    border: 5px;
    padding-bottom: 5px;
}

.col-md-4 {
    margin-top: 5px;
    height: 100%;
    border: 5px;
    padding-bottom: 5px;
}

.col-md-6 {
    margin-top: 5px;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 5px;
}

.isp {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
    Footnote CSS for pages below
*/
/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
    width: 100%;
    counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
a[aria-describedby="footnote-label"] {
    counter-increment: footnotes;
    /* 1 */
    text-decoration: none;
    /* 2 */
    color: inherit;
    /* 2 */
    cursor: default;
    /* 2 */
    outline: none;
    /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
a[aria-describedby="footnote-label"]::after {
    content: '[' counter(footnotes) ']';
    /* 1 */
    vertical-align: super;
    /* 2 */
    font-size: 0.5em;
    /* 3 */
    margin-left: 2px;
    /* 4 */
    color: #5cb85c;
    /* 5 */
    text-decoration: underline;
    /* 5 */
    cursor: pointer;
    /* 5 */
}
/**
 * Resetting the default focused styles on the number
 */
a[aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
}
a [aria-label="Back to content"] {
    font-size: 0.8em;
}
/* banner */
#home-banner-logo {
    height: 20px;
}
/*
    CSS caption for People and Parks images
*/
.capt1{
    margin-left: 25%;
    text-decoration-style: bold;
    margin-top: 0px;
}
/* include card links */
.land-link{
    text-align: center;
}
/* to make all cards the same size in a group */
.card-group{
    max-width: auto;
    height: 100%;
}
/* page layouts */
.pg{
    background-color: white;
}
/* text size for row div */
row{
    text-size: 50%;
}
/* cards on people of parks cards */
.card-header{
    font-size: 1em;
}
.card-text{
    font-size: large;
}
sup{
    font-size: large;
    font-weight: bold;
}
/*
    CSS body for pages
*/
main{
    background-color: white;
}