---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-12" background color="grey">

    {% include index/description.html %}

  </div>
  </div>
  <div class="row"></div>
  <div class="col-md-12">  

    <iframe src="https://uploads.knightlab.com/storymapjs/85c4cee1f88355a2af7ddd934ef5ee15/iowa-state-parks-2017/index.html" frameborder="0" width="100%" height="900" flush-top="0" padding-top="0"></iframe>
  </div>
</div>